@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
}

body,
html {
    background-color: F8F8F8;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}


.headline {
    width: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;

}

.inputField {

    margin-bottom: 20px;
    padding-left: 20px;
    box-sizing: border-box;

    width: 313.97px;
    height: 41.31px;

    border: 1px solid rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    border-radius: 12px;

}


input::placeholder {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.03em;

    color: #636364;


}

.radioField {
    margin-top: 10px;

    width: 308.8px;
    height: 18.59px;

    display: flex;
    justify-content: space-between;
}

.radioField p {
    width: 98.11px;
    height: 18.59px;
    margin-left: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #181818;


}

.signInButton {
    margin-top: 10px;
    width: 313.97px;
    height: 41.31px;
    background: #EA454C;
    box-shadow: 0px 4px 10px rgba(233, 68, 75, 0.25);
    border-radius: 12px;
    color: white;
}


.signUpParagraph {
    margin-top: 10px;
    width: 313.97px;
    height: 15px;
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;

    justify-content: center;
    color: #595959;


}


.wrapper-left {
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.wrapper-right img {

    object-position: center;
}